
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Student List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <h2> Students who enrolled in {{ subject.name }}</h2>
    {% if enrolled_students %}
        <ul>
            {% for student in enrolled_students %}
                <li>{{ student.first_name }} {{ student.last_name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No enrolled students for this subject.</p>
    {% endif %}
</body>
</html>
